.App {
  background-color: white;
  margin-right: 200px;
}

.App-header {
  position: sticky;
  top: 0;
  left: 0;
  background-color: darkslategray;
  padding: 0 30px;
  color: white;
  height: 42px;
  overflow: hidden;
  z-index: 1;
}

.App-header::after {
  content: '';
  position: absolute;
  top: 20px;
  left: 0;
  width: 600px;
  display: block;
  border: 0;
  border-top: 3px solid darkslategray;
}

.App-title::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 120%;
  width: 300%;
  height: 64px;
  transform-origin: left top;
  transform: skewX(-30deg);
  display: block;
  background-color: white;
}

.App-title {
  position: absolute;
  top: -20px;
  left: 0;
  font-size: 3.5em;
  margin: 0;
  padding: 0;
}

.Chart-title {
  text-align: left;
  margin: 0;
  padding: .7em 0 .3em 1em;
  color: darkslategray;
  border-top: 1px solid darkslategray;
}

.Chart-subtitle {
  padding-left: .7em;
  padding-top: .1em;
  color: darkslategray;
  margin-left: 12px;
  border: 1px solid darkslategray;
  width: 30%;
}

.Heatmap-container {
  display: flex;
  padding: 0 40px;
}
.Heatmap-container > div {
  width: 400px;
}