.App {
  
}

.App-header {
  background-color: darkslategray;
  padding: 0 20px;
  color: white;
  height: 62px;
}

.App-header::after {
  content: '';
  position: absolute;
  top: 18px;
  left: 0;
  width: 100%;
  display: block;
  border: 0;
  border-top: 3px solid darkslategray;
}

.App-title {
  font-size: 3.5em;
  margin: -20px 0;
  padding: 0;
}
