
.ResultList {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 190px;
    height: 100%;
    padding-left: 10px;
    border-left: 1px solid darkslategray;
    background-color: rgba(255, 255, 255, 80%);
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 2;
}

.ResultList > ol {
    color: silver;
}

.ResultList .removeButton {
    /* reset */
    background-color: transparent;
    border: 0;
    outline: none;
    padding: 0;
    appearance: none;

    font-size: larger;
    margin-left: .2em;
    visibility: hidden;
    color: white;
}
.ResultList li:hover .removeButton {
    visibility: visible;
    color: silver;
}


.ResultItem {
    font-size: 12pt;
    font-family: Monaco, "Lucida Console", monospace;
    margin: 2px;
    padding: 0px 8px 0px 8px;
    border: 1px solid darkslategray;
    border-bottom: 2px solid darkslategray;
    outline: none;
}
.ResultItem:hover {
    background-color: whitesmoke;
}
.ResultItem:active {
    background-color: slategray;
}
